// @import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
}


body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #D8F7FF;
    font-family: 'Montserrat', sans-serif;   
}

div.main {
    section {
        display: grid;
        grid-template-columns: 15% auto;
        width: 1920px;
        height: 1080px;
        
        figure {
            background: #BBE2ED;
            margin: 0;
    
            img {
                width: 100px;
                position: sticky;
                position: -webkit-sticky;
                position: -ms-sticky;
                position: -o-sticky;
                position: -moz-sticky;
                margin-top: 5%;
            }
            
            img#icon_doc_svg, img.single_digit_number {
                margin-left: 30%;
            }
            img.double_digits_number {
                margin-left: 15%;
            }
            
            img:nth-of-type(1) {
                margin-right: -6.5%;
            }
            img:nth-of-type(2) {
                margin-left: -6.5%;
            }
        }
        
        article {
            padding: 2em;
            margin-left: 10px;
            margin-right: 10px;
        
            h3 {
                font-size: 3em;
                margin-top: 0;
            }
            
            p {
                line-height: 2em;
            }
        }
    }
}

.onepage-pagination {
    transform: scale(0.85, 0.85);
    -webkit-transform: scale(0.85, 0.85); /* Safari and Chrome */
    -ms-transform: scale(0.85, 0.85); /* IE 9 */
    -o-transform: scale(0.85, 0.85); /* Opera */
    -moz-transform: scale(0.85, 0.85); /* Firefox */
    top: 15%;
}

/* section:nth-of-type(1-2-3-4-..-31) {
    width: 1920px;
    height: 1080px;
} */


/* ----------------------------------------------
 * Animation rotate-center
 * Generated by Animista on 2018-8-5 19:49:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.entered {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
    0% {
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}