@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background: #D8F7FF;
  font-family: 'Montserrat', sans-serif;
}

div.main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto;
      grid-template-columns: 15% auto;
  width: 1920px;
  height: 1080px;
}

div.main section figure {
  background: #BBE2ED;
  margin: 0;
}

div.main section figure img {
  width: 100px;
  position: sticky;
  position: -webkit-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -moz-sticky;
  margin-top: 5%;
}

div.main section figure img#icon_doc_svg, div.main section figure img.single_digit_number {
  margin-left: 30%;
}

div.main section figure img.double_digits_number {
  margin-left: 15%;
}

div.main section figure img:nth-of-type(1) {
  margin-right: -6.5%;
}

div.main section figure img:nth-of-type(2) {
  margin-left: -6.5%;
}

div.main section article {
  padding: 2em;
  margin-left: 10px;
  margin-right: 10px;
}

div.main section article h3 {
  font-size: 3em;
  margin-top: 0;
}

div.main section article p {
  line-height: 2em;
}

.onepage-pagination {
  transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  /* Safari and Chrome */
  -ms-transform: scale(0.85, 0.85);
  /* IE 9 */
  -o-transform: scale(0.85, 0.85);
  /* Opera */
  -moz-transform: scale(0.85, 0.85);
  /* Firefox */
  top: 15%;
}

/* section:nth-of-type(1-2-3-4-..-31) {
    width: 1920px;
    height: 1080px;
} */
/* ----------------------------------------------
 * Animation rotate-center
 * Generated by Animista on 2018-8-5 19:49:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.entered {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */