@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: 100%;
}

body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  padding: 3em;
}

section {
  z-index: 1;
  position: relative;
}

section .content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 10%;
}

section .content h1 {
  font-size: 3em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
}

section .content p {
  font-size: 1.5em;
}

section:nth-of-type(1) {
  height: 1080px;
}

section:nth-of-type(2) {
  height: 1080px;
}

section:nth-of-type(3) {
  height: 1080px;
}

section:nth-of-type(4) {
  height: 1080px;
}

section:nth-of-type(5) {
  height: 1080px;
}
/*# sourceMappingURL=main.css.map */